@model AssetHub.ViewModels.Loan.Partial.CreateLoanViewModel

@{
    ViewBag.Title = "Loan " + Model.AssetName;
}

<h4>Loan @Model.AssetName</h4> <hr />

<div class="container" id="createContainer">
    @Html.Partial("_CreateLoan")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
