@model AssetHub.ViewModels.Admin.Partial.CreateUserViewModel

@{
    ViewBag.Title = "Create user";
}

<h4>Create user</h4>

<div class="container" id="createContainer">
    @Html.Partial("_CreateUser")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Admin/CreateUser.js")
}
