@model AssetHub.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<div>
    <h2>Current loans</h2>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Asset</th>
                <th>Location</th>
                <th>Loaned from</th>
                <th>Loaned to</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var l in Model.CurrentLoans)
            {
                <tr>
                    <td>@l.Asset.Name</td>
                    <td>@l.TimeFrom.Date.</td>
                    <td>@l.TimeFrom.Date</td>
                </tr>
            }
        </tbody>
    </table>
</div>