@model AssetHub.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<div>
    <h4>Current loans</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Asset</th>
                <th>Loaned from</th>
                <th>Loaned to</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var l in Model.CurrentLoans)
            {
                <tr>
                    <td>@l.Asset.Name</td>
                    <td>@l.TimeFrom</td>
                    <td>@l.TimeTo</td>
                    <td>@Html.ActionLink("View", "ViewLoan", "Loan", new { id = l.AssetId },  htmlAttributes: new { @class = "btn btn-default" })</td>
                </tr>
            }
        </tbody>
    </table>
</div>